body
{
  font-family: 'Akaya Telivigala', cursive;
  background: #E2E8DD;
}

.header_div
  {
  background: #b3e7ec;
  color: rgb(255, 141, 141); 
  }

  .header_div p{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
  }
  .main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
  }

  
  .copy_right_footer {
   position: fixed;
   color: #b3dcff;
   bottom: 0;
   width: 100%;
   font-size: 18px;
   background-color: #ffa9a9; 
   line-height: 3;
   text-align: center;
   text-shadow: 5px 5px 5px rgb(59, 17, 17);
}